.custom-button {
  padding: 10px 20px;
  background-color: #b1b1b1;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #666666;
  }
}