:root {
  font-family: Comic Sans MS, cursive;
}

.todo-app {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
}

ul {
  padding: 0;
}