.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Sans MS';

    h1, h2 {
        background-color: white;
    }
}
