:root {
  font-family: Comic Sans MS, cursive;
}

.todo-app {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
}

button {
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 5px;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li.completed span {
  text-decoration: line-through;
  color: #ff0000;
}

li span {
  cursor: pointer;
}

li input[type="text"] {
  flex: 1;
  padding: 5px;
}