li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

li.completed div {
  text-decoration: line-through;
  color: #ff0000;
}

li span {
  cursor: pointer;
}

li input[type="text"] {
  flex: 1;
  padding: 5px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.task_text {
  cursor: pointer;
}