li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li.completed div {
  text-decoration: line-through;
  color: #ff0000;
}

li span {
  cursor: pointer;
}

li input[type="text"] {
  flex: 1;
  padding: 5px;
}

li button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}